{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<!--<script src="{{url_for('static', filename='script.js')}}"></script>-->
{% endblock %}

{% block body %}

<body>

    <h1>The Recipe Bank!</h1>
    <h2>Hello <a href="{{url_for('site.profile')}}">{{current_user.username}}!</a></h2>

    <button class="button"><a href="{{ url_for('site.logout') }}">Logout</a><br></button>
    <div>
        {% for items in items %}
        <div class="box">
            <h3>Name</h3>
            <p>{{ items.name }}</p>
            <br>
            <h3>Serves</h3>
            <p>{{ items.serve }}</p>
            <br>
            <h3>Prep Time</h3>
            <p>{{ items.prep }}</p>
            <br>
            <h3>Cook Time</h3>
            <p>{{ items.cook }}</p>
            <br>
            <h3>Ingredients</h3>
            <p>{{ items.ingr }}</p>
            <br>
            <h3>Instructions</h3>
            <p>{{ items.instr }}</p>
            <br>
            <h3>Time</h3>
            <p>{{ items.time }}</p>
            <br>
            <h3>Author</h3>
            <p>{{ items.author }}</p>
            <br>
        </div>
        {% endfor %}
    </div>



</body>

{% endblock %}