{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<!--<script src="{{url_for('static', filename='script.js')}}"></script>-->
{% endblock %}

{% block body %}
<body>
    <h1>The Recipe Bank!</h1>
    <h2>Hello <a href="{{url_for('site.profile')}}">{{current_user.username}}!</a></h2>

    <a href="{{ url_for('site.logout') }}">Logout</a><br>

    <div>
    <br><hr>
    <!--This is placeholder! Needs bootstrap fun-->
    This is a test!
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Serves</th>
            <th>Prep Time</th>
            <th>Cook Time</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <th>Time</th>
            <th>Author</th>
        </tr>
        {% for items in items %}
        <tr>
            <td>{{ items.name }}</td>
            <td>{{ items.serve }}</td>
            <td>{{ items.prep }}</td>
            <td>{{ items.cook }}</td>
            <td>{{ items.ingr }}</td>
            <td>{{ items.instr }}</td>
            <td>{{ items.time }}</td>
            <td>{{ items.author }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>


</body>
{% endblock %}