{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<!--<script src="{{url_for('static', filename='script.js')}}"></script>-->
{% endblock %}

{% block body %}
<body>


<div>
  <h3>Your Recipe Bank</h3>
  <h2>Hello {{current_user.username}}!</h2>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Serves</th>
            <th>Prep Time</th>
            <th>Cook Time</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <th>Time</th>
            <th>Author</th>
        </tr>
        {% for items in items %}
        <tr>
            <td>{{ items.name }}</td>
            <td>{{ items.serve }}</td>
            <td>{{ items.prep }}</td>
            <td>{{ items.cook }}</td>
            <td>{{ items.ingr }}</td>
            <td>{{ items.instr }}</td>
            <td>{{ items.time }}</td>
            <td>{{ items.author }}</td>
        </tr>
        {% endfor %}
    </table>

</div>

<br>
<button class="button"><a href="{{url_for('site.home')}}">Home</a></button>
<br>
<button class="button"><a href="{{ url_for('site.logout') }}">Logout</a></button>

</body>



{% endblock %}